<ion-modal-view view-title="상점">
	<ion-header-bar class="bar-positive fix-buttons">
	<button class="button button-dark" ng-click="close()">닫기</button>
	<h1 class="title">전단지 상점</h1>
	</ion-header-bar>
	<ion-content has-bouncing="true">
	<div class="row">
		<div class="col">
			<button class="button button-block button-positive" ng-click="buy('paper_coin_50')" >50 장 = 1,000원</button>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<button class="button button-block button-positive" ng-click="buy('paper_coin_50')" >100 장 = 2,000원</button>
		</div>
	</div>
	<div class="row" >
		<div class="col">
			<button class="button button-block button-positive" ng-click="buy('paper_coin_500')" >500 장 = 9,000원</button>
		</div>
	</div>
	<div class="row" >
		<div class="col">
			<button class="button button-block button-positive" ng-click="buy('paper_coin_1000')" >1,000 장 = 17,000원 </button>
		</div>
	</div>
	<div class="row" >
		<div class="col">
			<button class="button button-block button-positive" ng-click="buy('paper_coin_5000')" >5,000 장 = \83,000원 </button>
		</div>
	</div>
	<div class="row" >
		<div class="col">
			<button class="button button-block button-positive" ng-click="buy('paper_coin_10000')" >10,000 장 = \164,000원</button>
		</div>
	</div>
	
	<div class="row" ng-show="isError">
		<div class="col">
			<div class="error clearfix" style="color:red;">{{errorMsg}}</div>
		</div>
	</div>

	</ion-content>
</ion-modal-view>