<ion-view view-title="발송목록">
  <ion-content>
    <div class="list card" ng-repeat="message in messages" >
      <div class="item item-divider">
      	<div class="row" >
      		<div class="col"><h2>{{message.date}}</h2></div>
      		<div class="col" style="text-align:right;">
      			<button class="button button-small icon-left ion-trash-a button button-assertive" ng-click="remove(message)" >삭제</button>
      		</div>
      	</div>
      </div>
      <div class="item item-body">
        <div>
        	<p>성별: {{message.sex}}</p>
        	<p>나이: <span ng-repeat="age in message.ages" >{{age}},</span></p>
        	<p>내위치로부터 거리: {{message.distance}}</p>
	        <p>발송건수: {{message.count | number}} 장</p>
	        <p>{{message.content}}</p>
        </div>
      </div>
    </div>  
  </ion-content>
</ion-view>
