<ion-view view-title="발송목록" ng-drop="true" ng-drop-success="onDropComplete($data,$event)" >
  <ion-content>
    <div class="list card" ng-repeat="sendMsg in sendlist" ng-drag="true" ng-drag-data="sendMsg" ng-center-anchor="true">
      <div class="item item-divider">{{sendMsg.date}}</div>
      <div class="item item-body">
        <div>
        	<p>성별: {{sendMsg.fmt_sex}}</p>
        	<p>나이: {{sendMsg.fmt_age}}</p>
        	<p>내위치로부터 거리: {{sendMsg.fmt_distance}}</p>
	        <p>발송건수: {{sendMsg.paper_cnt | number}} 장</p>
	        <p ng-bind-html="sendMsg.content | nl2br"></p>
        </div>
      </div>
     </div>
     <div class="list card" ng-show="!sendlist || sendlist.length < 1" >
     	<div class="item item-divider">발송한 전단지가 없습니다.</div>
     </div>
  </ion-content>
</ion-view>