<ion-view view-title="발송">
<form name="sendForm" novalidate >
  <ion-content>
    <ion-list>
      <ion-item>
      	<label class="item item-input item-select">
      		<div class="input-label">* 성별</div>
	      	<select name="sex" ng-model="message.sex" >
	      		<option value="A" selected >전체</option>
	      		<option value="M" >남자</option>
	      		<option value="F" >여자</option>
	      	</select>
      	</label>
      </ion-item>
      <ion-item>
      	<span class="input-label">* 나이</span>
      	<ul class="list" ng-repeat="age in message.ages" >
      		<li>
      			<ion-checkbox ng-model="age.checked" >{{age.name}}</ion-checkbox>
      		</li> 
      	</ul>
      </ion-item>
      <ion-item>
      	<label class="item item-input item-select">
      		<div class="input-label">* 내위치로부터 거리</div>
	      	<select name="distance" ng-model="message.distance" >
	      		<option value="0" selected >전체</option>
	      		<option value="500" >500M</option>
	      		<option value="1000" >1KM</option>
	      		<option value="3000" >3KM</option>
	      		<option value="5000" >5KM</option>
	      		<option value="10000" >10KM</option>
	      		<option value="30000" >30KM</option>
	      		<option value="50000" >50KM</option>
	      	</select>
      	</label>
      </ion-item>
      <ion-item>
      	<div class="row" >
			<div class="col" >
				<label class="item item-input item-button">
				  <span class="input-label" >* 발송건수</span>
				  <input type="number" name="count" min="1" max="{{max}}" placeholder="발송건수를 입력하세요!" required  ng-model="message.count"  />
				</label>
			</div>
			<div class="col" style="text-align:right;" >
			  <button class="icon-left ion-battery-low button button-positive" ng-click="modal.show()" >충전</button>
			</div>      	
      	</div>
      </ion-item>
      <ion-item>
      	<span class="input-label" >* 발송내용</span>
      	<textarea name="content" id="content" placeholder="내용을 입력하세요!" ng-Required="true" ng-model="message.content" ></textarea>
      </ion-item>
      <ion-item>
      	<button ng-disabled="!sendForm.$valid" class="button button-block button-positive" ng-click="send(message)" >발송</button>
      </ion-item>
    </ion-list>
  </ion-content>
</form>
</ion-view>
