<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.epaper126847" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>번개전단</name>
  <description>
        위치기반 다수에개 메세지를 보내는 서비스
    </description>
  <author email="asdkf20@gmail.com" href="http://blog.naver.com/asdkf20">
      박종복
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <access origin="tel:*" launch-external="yes" />
  <access origin="mailto:*" launch-external="yes" />  
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="Fullscreen" value="false" />
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
	<feature name="PushPlugin">
	     <param name="ios-package" value="PushPlugin"/>
	     <param name="android-package" value="com.plugin.gcm.PushPlugin"/>
	   </feature>    
	<feature name="Geolocation">
	    <param name="android-package" value="org.apache.cordova.geolocation.GeoBroker" />
	</feature>
</widget>