.list:hover {
font-weight: bold;
}

.chat {
	background-color: #66839A;
	font-weight: bold;
	color: #ffffff;
	text-overflow: ellipsis;
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-wrap:break-word;
}

.chat:hover {
	width: 100%;
	height: 200px;
	overflow-y: auto;
	position: relative;
	display: block;
}

.chat_right {
  position:relative;
  padding:5px 5px;
  margin:0;
  color:#000;
  background:#5a8f00; /* default background for browsers without gradient support */
  /* css3 */
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#b8db29), to(#5a8f00));
  background:-moz-linear-gradient(#b8db29, #5a8f00);
  background:-o-linear-gradient(#b8db29, #5a8f00);
  background:linear-gradient(#b8db29, #5a8f00);
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  text-align:left;
}

/* display of quote author (alternatively use a class on the element following the blockquote) */
.chat_right + p {margin:0px 0 5px 45px; font-style:italic;}

/* creates the triangle */
.chat_right:after {
  content:"";
  position:absolute;
  bottom:-20px;
  left:20px;
  border-width:0 20px 20px 0px;
  border-style:solid;
  border-color:transparent #5a8f00;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}


/* Empty. Add your own CSS if you like */
.chat_left {
  position:relative;
  padding:5px 5px;
  margin:0;
  color:#000;
  background:#f3961c; /* default background for browsers without gradient support */
  /* css3 */
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f3961c));
  background:-moz-linear-gradient(#f9d835, #f3961c);
  background:-o-linear-gradient(#f9d835, #f3961c);
  background:linear-gradient(#f9d835, #f3961c);
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  text-align:right;
}

/* display of quote author (alternatively use a class on the element following the blockquote) */
.chat_left + p {margin:0px 45px 5px 0; text-align:right; font-style:italic;}

/* creates the triangle */
.chat_left:before {
  content:"";
  position:absolute;
  bottom:-20px;
  right:20px;
  border-width:0 20px 20px 0px;
  border-style:solid;
  border-color:transparent #f3961c;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

textarea {
	resize:both;
	min-height:100px;
}